const firebaseConfig = {
  apiKey: "your info here",
  authDomain: "your info here",
  databaseURL: "your info here",
  projectId: "your info here",
  storageBucket: "your info here",
  messagingSenderId: "your info here",
  appId: "your info here",
  measurementId: "your info here"
};
export default firebaseConfig;
